:root {
  --gren: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}

body {
  background: var(--black);
  color: #dddcdc;
  font-family: Menlo, monospace;
  display: grid;
  padding: 32px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 32px;
  padding: 16px;
}

section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 680px;
}

time {
  color: var(--yellow);
}

input {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  /* opacity: 0; */
}

p {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
  margin: 0;
}

letter {
  color: var(--gray);
  position: relative;

  &.active::before {
    content: '|';
    color: var(--yellow);
    position: absolute;
    left: -70%;
    animation: 1s blink infinite ease-in-out;
  }

  &.correct {
    color: var(--gren);
  }

  &.incorrect {
    color: var(--red);
  }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}