:root {
  --gren: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --white: #fff;
  --gray: #999999b3;
}

body {
  background: var(--black);
  color: #dddcdc;
  font-family: Menlo, monospace;
  font-size: 32px;
  display: grid;
  padding: 32px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 100dvh;
}

section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1000px;
  margin-bottom: 150px;
}

time {
  color: var(--yellow);
}

input {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

p {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0;
}

h2 {
  font-weight: 400;
  margin: 0;
  opacity: .4;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  margin: 0;
  font-size: 28px;
  color: var(--yellow);
}

word {
  border-bottom: 2px solid transparent;
  transition: border-color 100ms ease-in;

  &.marked {
    border-color: var(--red);
  }
}

letter {
  color: var(--gray);
  position: relative;

  &.active::before {
    content: '|';
    font-size: 36px;
    color: var(--yellow);
    position: absolute;
    top: -20%;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.correct {
    color: var(--white);
  }

  &.incorrect {
    color: var(--red);
  }

  &.active.last-one::before {
    left: 40%;
  }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#game {
  display: flex;
}

#results {
  display: none;
}

.button-reload {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 8px;
  opacity: .4;
  border-radius: 8px;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background: #444;
    opacity: 1;
    scale: 110%;
  }
}